@import "tailwindcss";

@theme {
  --font-sans: Tahoma, Geneva, Verdana, sans-serif;
  --font-serif: Tahoma, Geneva, Verdana, sans-serif;
}

@layer base {
  body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FAF9F6;
    color: black;
  }
}